@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

:root {
  --background: #e4e6e6;
  --foreground: #123132;
  --primary: #1c4e50;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0c1f1f;
    --foreground: #e4e6e6;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

h1 {
  @apply text-5xl sm:text-6xl mb-2;
}
h2 {
  @apply text-3xl sm:text-4xl;
}

h3 {
  @apply text-xl sm:text-2xl;
}

figcaption {
  @apply text-sm text-gray-600 dark:text-gray-400 mt-2 px-2 lg:px-0;
}

.button {
  @apply px-4 py-2 w-max shadow-2xl rounded-full bg-primary text-white hover:bg-primary/80 focus:ring-2 ring-primary dark:bg-foreground dark:text-primary dark:hover:bg-foreground/80 dark:ring-foreground transition-colors;
}

.button-secondary {
  @apply px-4 py-2 w-max shadow-2xl rounded-full bg-background text-primary hover:bg-background/80 focus:ring-2 ring-background dark:bg-foreground dark:hover:bg-foreground/80 dark:ring-foreground transition-colors;
}

.button-tertiary {
  @apply px-4 py-2 w-max shadow-2xl rounded-full bg-primary border border-white hover:bg-background/20 focus:ring-1 ring-background dark:hover:bg-background/80 dark:ring-foreground transition-colors;
}
